services:
  web:
    build: .
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code
      - static_volume:/code/static
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    env_file:
      - ./.env
    environment:
      POSTGRES_HOST: postgres
      REDIS_HOST: redis

  postgres:
    image: postgres:16.8
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    env_file:
      - ./.env

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    env_file:
      - ./.env
    volumes:
      - redis_data:/data

  celery:
    build:
      context: .
    container_name: celery_worker
    user: "1001"
    command: celery -A config worker -l INFO
    env_file:
      - ./.env
    volumes:
      - .:/app
    depends_on:
      - postgres
      - web
      - redis


  celery_beat:
    build:
      context: .
    container_name: celery_beat
    command: celery -A config beat --loglevel=INFO
    env_file:
      - ./.env
    volumes:
      - .:/app
    depends_on:
      - postgres
      - web
      - redis


  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web


volumes:
  postgres_data:
  static_volume:
  redis_data:
